.title_section_game_container {
  width: 500px;
  display: flex;
  align-items: baseline;
  margin-bottom: 40px;

  .title_section_game {
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    margin-right: 20px;
  }

  %title_section_game_arrow {
    background-image: url("../../../../static/img/game/game_arrow.svg");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center center;
    width: 15px;
    height: 15px;
  }

  .title_section_game_arrow_up {
    @extend %title_section_game_arrow
  }

  .title_section_game_arrow_down {
    @extend %title_section_game_arrow;
    transform: rotate(180deg);
  }
}
