.title_for_game_container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.title_name {
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: rgba(107, 83, 255, 1);
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

%title_arrow {
  background-image: url("../../../../static/img/back.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  margin-top: -2px;
  width: 15px;
  height: 15px;
}

.title_arrow_up {
  @extend %title_arrow;
  transform: rotate(90deg);
}

.title_arrow_down {
  @extend %title_arrow;
  transform: rotate(-90deg);
}
