.modal_span_text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: rgba(0, 0, 0, .6);
  cursor: pointer;
}

.modal_span_text:hover {
    color: rgba(66, 74, 157, 1);
}


@media (max-width: 540px) {
  .modal_span_text {
    font-size: 12px;
  }
}
