@import "../../../../../../sass_library/library.scss";


.player_title {
  @extend %space_between;
  align-items: baseline;
  margin-bottom: 40px;

  &__players {
    display: flex;

    &_icon {
      background-image: url("../../../../../../static/img/lobby/users.svg");
      background-repeat: no-repeat;
      width: 29px;
      height: 22px;
      margin-right: 20px;
    }

    &_text {
      @extend %text_decoration;
      color: rgba(0, 0, 0, 0.8);
    }
  }
  &__search {
    background-image: url("../../../../../../static/img/create_game/search.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }

}
