@import "../../../sass_library/library.scss";

.players_list_table__container {
  @extend %space_between;
  padding: 33px 0;
  border-bottom: 1px solid rgba(107, 83, 255, 0.4);

  &_th {
    @extend %text_container;
    width: 200px;
  }
}
