@import "../../../../../sass_library/library.scss";

.resource_length {
  @extend %business_game_container;
  border-radius: $border_radius;
  width: 514px;
  height: 100px;
  margin-bottom: 30px;

  &__info {
    @extend %business_game_container;
    @extend %between_row;
    width: 443px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 10px;

    &_text {
      @extend %text_decoration;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.7);
      padding-left: 30px;
    }

    &_value {
      @extend %text_decoration;
      color: rgba(0, 0, 0, 0.7);
      padding-right: 30px;
    }
  }
}
