@import "../../../../../sass_library/library.scss";

.resource {
  @extend %business_game_container;
  border-radius: $border_radius;
  width: 242px;
  height: 128px;
  margin-bottom: 30px;

  &__info {
    @extend %business_game_container;
    width: 202px;
    height: 78px;
    background-color: #FFFFFF;
    border-radius: 10px;

    &_title {
      text-align: center;
      @extend %text_decoration;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 4px;
    }

    &_value {
      @extend %text_decoration;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.resource_invisible {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}
