.icon-advertisements {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: -756px -356px;
  width: 242px;
  height: 128px;
}
.icon-big_house {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: -756px -100px;
  width: 242px;
  height: 128px;
}
.icon-big_house_plan {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: 0px -100px;
  width: 514px;
  height: 100px;
}
.icon-big_landscape {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: 0px -200px;
  width: 514px;
  height: 100px;
}
.icon-brick {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: -756px -228px;
  width: 242px;
  height: 128px;
}
.icon-communication {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: 0px -300px;
  width: 514px;
  height: 100px;
}
.icon-glass {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: -514px -100px;
  width: 242px;
  height: 128px;
}
.icon-kran {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: 0px 0px;
  width: 514px;
  height: 100px;
}
.icon-little_house {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: -514px -228px;
  width: 242px;
  height: 128px;
}
.icon-little_landscape {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: 0px -400px;
  width: 514px;
  height: 100px;
}
.icon-money {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: -514px -356px;
  width: 242px;
  height: 128px;
}
.icon-plan_little_house {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: -514px 0px;
  width: 514px;
  height: 100px;
}
.icon-shingles {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: 0px -500px;
  width: 242px;
  height: 128px;
}
.icon-wood {
  background-image: url(../../../../../static/img/resources/resources_sprite.png);
  background-position: -242px -500px;
  width: 242px;
  height: 128px;
}
