@import "../../sass_library/library.scss";

.checkbox_attribute_list_content {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__search {
    @media (max-width: 360px) {
    }
  }
}

.settings_attribute_message {
  display: flex;
  justify-content: center;

  &__text {
    @extend %text_decoration;
    color: rgba(66, 74, 157, .7);
    text-align: center;
  }
}
