.notice__container {
  position: relative;
  width: 392px;
  min-height: 95px;
  text-align: center;
  color: #FFFFFF;
}

.notice__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 369px;
  height: 77px;
  border-radius: 25px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.notice__content_error {
  background: rgba(236, 115, 115, 1);
  color: #FFFFFF;
}

.notice__content_info {
  background: rgba(71, 189, 132, 1);
  color: #FFFFFF;
}

.notice__content-icon {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.notice__content-icon-error {
  background-image: url("../../../static/img/notice/close_notice.svg");
}

.notice__content-icon-info {
  background-image: url("../../../static/img/notice/info_close_notice.svg");
}

@media (max-width: 600px) {
  .notice__container {
    width: 255px;
  }
  .notice__content {
    width: 232px;
  }
}
