@import "../../../../sass_library/library.scss";

.form_label_start_game {
  width: 100%;
  @extend %flex_column;
  @extend %text_decoration;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;

  &__input {
    @extend %text_decoration;
    width: calc(100% - 60px);
    margin-top: 10px;
    padding: 24px 30px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: $border_radius;
    outline: none;
    color: rgba(66, 74, 157, 1);

    @media (max-width: 500px) {
      padding: 16px 22px;
      font-size: 18px;
    }
     @media (max-width: 360px) {
      padding: 16px 22px;
      font-size: 14px;
    }


    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.8);
      @extend %text_decoration;
    }
  }
}
