@import "../../../../../sass_library/library.scss";

.offers_button {
  @extend %business_game_container;
  @extend %text_decoration;
  background: rgba(107, 83, 255, 0.05);
  border-radius: $border_radius;
  font-size: 24px;
  color: rgba(107, 83, 255, .6);
  width: 353px;
  height: 60px;
}

.count_offers {
  position: absolute;
  margin-right: -250px;
  background: #FFFFFF;
  border-radius: 20px;
  width: 32px;
  height: 32px;
  color: rgba(107, 83, 255, .6);
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offers_button:hover {
  color: #FFFFFF;
  background: rgba(107, 83, 255, 1);
}
