@import "../../../../../sass_library/library.scss";

.input_join_game {
  @extend %justify_center;
  @extend %text_decoration;
  border-radius: $border_radius;
  height: calc(68px - 24px*2);
  width: calc(100% - 60px);
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 18px;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  padding: 24px 30px;
}

.input_join_game::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
