@import "../../../../sass_library/library.scss";

.user_attribute {
  @extend %between_row;
  margin-bottom: 40px;

  &__item {
    @extend %text_decoration;
    @extend %text_container;
    color: rgba(0, 0, 0, 0.7);

    @media (max-width: 320px) {
      max-width: 90px;
    }
    @media (max-width: 600px) {
      font-size: 14px;
    }
    @media (min-width: 2000px) {
      font-size: 30px;
    }
  }

  &__value {
    overflow: initial;
    color: rgba(0, 0, 0, 1);
  }
}
