.user_profile_data {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 700px) {
    padding: 0 10%;
  }

  @media (max-width: 400px) {
    padding: 0 5%;
  }

  &__code {
    margin-bottom: 60px;
  }

  &__btn {
    width: 400px;
    height: 60px;
    margin: 0 auto 20px;

    @media (max-width: 530px) {
      width: 300px;
    }

    @media (max-width: 400px) {
      width: 250px;
      height: 55px;
    }

    @media (max-width: 320px) {
      width: 200px;
      height: 55px;
    }
  }
}

.user_profile_data__player {
  padding: 0 20%;
}

.user_info_container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.user_full_name_container {
  margin-bottom: 55px;
}


@media (max-width: 700px) {
  .user_info_container {
    margin-bottom: 44px;
  }
  .user_full_name_container {
    width: 284px;
  }
  .user_attribute_container {
  }
}

@media (min-width: 700px) {
  .user_info_container {
    margin-bottom: 55px;
  }
}

@media (min-width: 1500px) {
  .user_full_name_container {
    margin-bottom: 80px;
  }
  .user_profile_data__player {
    height: 90vh;
  }
}
