@import "../../../../../sass_library/library.scss";

.credit_item {
  @extend %align_center;
  @extend %space_between;
  background: $back_white;
  border-radius: $border_radius;
  padding: 27px 40px;
  margin-bottom: 30px;

  &__title {
    @extend %text_decoration;
    color: $black_fc;
  }

  &__cost {
    @extend %text_decoration;
    color: $black_fc;
  }

  &__input {
    @extend %input_decoration;
    width: 248px;
    padding: 14px 30px;
  }

  &__btn {
    @extend %button_purple;
    font-size: 18px;
    width: 244px;
    height: 42px;
  }
}

.credit_item__input::-webkit-input-placeholder {
  @extend %text_decoration;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}
