.burger_hide {
  display: none;
}

.burger_open {
  display: flex;
}


.burger {
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background: rgba(66, 74, 157, .4);
}
