.footer {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.4;
  text-align: center;
  bottom: 0;
  margin: 0 auto;
}
