@import "../../../../../../sass_library/library.scss";

.coordinator_code {
  @extend %align_center;

  &__field {
    @extend %business_game_container;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 30px;
    border: 1px solid #424A9D;
    border-radius: $border_radius;
    height: 45px;
    background: $white_bc;
    width: 100%;

    &_text {
      @extend %text_decoration;
      @extend %text_container;
      color: rgba(0, 0, 0, 0.8);
      overflow: hidden;
      @media (max-width: 1230px) {
        max-width: 350px;
      }
    }

    .coordinator_code__container {
      @extend %align_center;

      .coordinator_code__container_button {
        background-position: left;
        padding-left: 35px;
        background-repeat: no-repeat;
        font-size: 14px;
        line-height: 13px;
        color: rgba(0, 0, 0, .6);
        height: 40px;
        overflow: hidden;

        &:hover {
          color: rgba(66, 74, 157, 1);

        }
      }
    }
  }
}


@media (min-width: 1300px) {
  .coordinator_code_field {
    height: 65px;
  }
  .coordinator_button {
    font-size: 20px;
  }
}

@media (min-width: 2000px) {
  .coordinator_code_field {
    height: 100px;
    font-size: 30px;
  }
  .coordinator_button {
    font-size: 25px;
  }
}
