.button_update_code {
  background-image: url("../../../../../../static/img/profile/update.svg");
  margin-right: 30px;
}

.button_copy_code {
  background-image: url("../../../../../../static/img/profile/copy.svg");
}
