@import "../../../../../../sass_library/library.scss";


.user_lobby_message {
  @extend %business_game_container;

  &__icon {
    background-image: url("../../../../../../static/img/lobby/time.svg");
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    margin-bottom: 25px;

    @media (max-width: 480px) {
      background-size: 40px 40px;
      width: 40px;
      height: 40px;
    }
  }

  &__message {
    @extend %text_decoration;
    color: rgba(66, 74, 157, .7);

    @media (max-width: 480px) {
      text-align: center;
      font-size: 16px;
    }
  }
}
