.password_recovery_text {
  text-align: center;
  margin-bottom: 58px;
  max-width: 423px;
  font-size: 22px;
}

.recovery_password_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

@media (max-width: 670px) {
  .password_recovery_text {
    font-size: 15px;
  }
}

@media (min-height: 1000px) {
  .recovery_password_form {
    width: 500px;
    min-height: 250px;
  }
}

@media (min-height: 1300px) {
  .recovery_password_form {
    width: 600px;
    min-height: 300px;
  }
  .password_recovery_text {
    font-size: 22px;
  }
}
